

body {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(187, 177, 253);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 255, 137);
    padding-top: 30px;
    padding-bottom: 30px;
    
}

header div {
   display: inline-block; 
   justify-content: space-between;
}

a {
    color: rgb(252, 14, 232);
    text-decoration: none;
    font-size: large;
}

a:hover {
    color: rgb(84, 216, 32);
    text-decoration: underline;
}

#timer {
    color: rgb(230, 40, 40);
    text-decoration: none;
    font-size: large;
}
main {
    width: 100%;
    height: auto;
    display: block;
    align-items: center;
    text-align: center;
}

main div {
    display: block;
    text-align: center;
}

ul li {
    color: snow;
    list-style: none;
    background-color: tomato;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    font-size: larger;
    border: 5px solid rgb(12, 12, 44);
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 200px;
    
}

ul {
    display: block;
}

#title {
    color: white;
}

li:hover {
    border: 5px solid rgb(64, 250, 204);
    text-decoration: underline;
    background-color: white;
    color: tomato;
}
#tryAgain {
    text-align: center;
    margin: auto;
}
footer {
    margin: auto;
    color: rgb(25, 148, 185);
    padding: 30px;
    font-size: 150%;
}
h1 {
    margin: auto;
}
#return {
    margin: auto;
}
footer a {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 150%;
    text-decoration: underline;
}